# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
RL/

# IDEs
.vscode/
.idea/
*.DS_Store

# Project Specific
backend/dataset/
backend/results/
backend/Qwen2.5-0.5B-Fraud-Detection/
backend/wandb/
backend/artifacts/

# Logs
*.log